  <!-- Navbar -->
  <nav class="navbar">
    <div class="navbar-left">
      <span class="brand">Bakelit</span>
    </div>
    <div class="search-container">
      <button class="search-icon">
        <i class='bx bx-search' ></i>
      </button>
      <input type="text" class="search-bar" placeholder="Keresés...">
    </div>
    <div class="navbar-right">
      <button class="menu-icon">
        <i class='bx bx-menu'></i>
      </button>
      <ul class="dropdown-menu">
        <li><a href="">Fiók</a></li>
        <li><a href="">Beállítások</a></li>
        <li><a href="">asd</a></li>
      </ul>
    </div>
  </nav>
