.content-area {
    flex-grow: 1;
    padding: 20px;
  }
    
  .product-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    width: 100%;
    box-sizing: border-box;
  }
  .main-container {
    display: flex;
    height: calc(100vh - 60px); /* Navbar magasságának levonása */
  }
  @media (max-width: 1024px) {
    .product-list {
      grid-template-columns: repeat(3, 1fr); /* Közepes méretű képernyőn 3 oszlop */
    }
  }
  
  @media (max-width: 768px) {
    .product-list {
      grid-template-columns: repeat(2, 1fr); /* Kisebb képernyőn 2 oszlop */
    }
  }
  
  @media (max-width: 520px) {
    .product-list {
      grid-template-columns: 1fr; /* Nagyon kicsi képernyőn egymás alá kerülnek */
    }
  }
    
    .product-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 6px;
    overflow: hidden;
    text-align: center;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
    
  .product-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  }
    
  .product-image {
    width: 80%;
    height: auto;
    margin: 0 auto 10px;
  }
    
  .product-title {
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0;
  }
    
  .product-price {
    font-size: 14px;
    color: #333;
  }